@import "tailwindcss";

@theme {
  --color-primary: #4a148c;
  --color-primary-light: #7c43bd;
  --color-primary-dark: #12005e;

  --color-secondary: #f44336;
  --color-secondary-light: #ff7961;
  --color-secondary-dark: #ba000d;

  --color-text: #1a1a1a;
  --color-muted: #6b7280;
  --color-border: #e5e7eb;
  --color-background: #ffffff;
}
